{%load static%}
<div class="container col-xxl-8 px-1 py-1">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
        <!--svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg-->
        <img src={%static 'img/hero.png'%} alt="Bootstrap Themes" width="40" height="32" loading="lazy">
      </a>

      <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
        <li><a href="{%url 'landing-index'%}#home" class="nav-link px-2 link-secondary">Home</a></li>
        <li><a href="{%url 'landing-index'%}#features" class="nav-link px-2 link-dark">Features</a></li>
        <li><a href="{%url 'landing-index'%}#pricing" class="nav-link px-2 link-dark">Pricing</a></li>
        <li><a href="{%url 'landing-index'%}" class="nav-link px-2 link-dark">Examples</a></li>
        <li><a href="{%url 'landing-index'%}" class="nav-link px-2 link-dark">About</a></li>
        <li><a href="{%url 'landing-index'%}" class="nav-link px-2 link-dark">Contact</a></li>
      </ul>

      <div class="col-md-3 text-end">
        {%if user.is_authenticated%}
        <a class="btn btn-outline-dark me-2">Hi {{user.email}}</a>
        <a class="btn btn-dark" href="{%url 'account_logout'%}">lougout</a>
        {%else%}
        <a class="btn btn-outline-dark me-2" href="{%url 'account_login'%}">Login</a>
        <a  class="btn btn-dark" href="{%url 'account_signup'%}">Sign-up</a>
        {%endif%}
      </div>
    </header>
  </div>
