{%extends 'PipelineGPT/base.html'%}
{%load static%}

{%block content%}
<main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
    <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h2>Welcome to the Dashboard, {{ user.username }}</h2>
      <div class="btn-toolbar mb-2 mb-md-0">
        <div class="btn-group me-2">
          <div class="btn btn-sm btn-outline-secondary" href="#">Run</div>
          <div class="btn btn-sm btn-outline-secondary" href="#">Download</div>
        </div>
      </div>
    </div>

    <div>
        <h1>{{ learning.name }}</h1>
        <p>{{ learning.description }}</p>
        <p>Model: {{ learning.model }}</p>
        <p>Temperature: {{ learning.temperature }}</p>
        <p>Step Config: {{ learning.step_config }}</p>
        <p>Prompt: {{ learning.prompt }}</p>
        <p>Logs: {{ learning.logs }}</p>
        <p>Workspace: {{ learning.workspace }}</p>
        <p>Feedback: {{ learning.feedback }}</p>
        <p>Session: {{ learning.session }}</p>
        <p>Timestamp: {{ learning.timestamp }}</p>
        <p>Version: {{ learning.version }}</p>
    </div>


</main>
{%endblock content%}